@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@500&family=Poppins&family=Roboto:wght@500&family=Pacifico&display=swap');
*{
    margin:0; 
    padding:0; 
    font-family:"Montserrat";
    text-align: center;
    
}
body{
    background-color:#f2aa4cff;
    background-size: cover;
}
.icon{
    height:35px; 
    width:35px;
    cursor: none; 
}
header{
    background-color:#f2aa4cff;
    display:flex; 
    align-items:center;
    padding: 14px 3%; 
}
header a{
    text-decoration:none; 
    font-size:22px; 
    color:black; 
    font-weight:800; 
    padding-left:8px; 
    cursor:none; 
}

.container{

    height: auto;
    width: 32%;
    background-color:#101820ff;
    position:relative; 
    margin:5% auto; 
    margin-top:0; 
    border-radius:0 0 15px 15px; 
}
.head{
    position:relative; 
    margin: 5% auto; 
    margin-bottom:0; 
    width:32%; 
    display:flex;
    justify-content:space-evenly;
    background-color:#f2aa4cff; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.head button{
    padding:5px 10px; 
    border:none; 
    background-color:#f2aa4cff; 
    width:100%;
    height:100%; 
    cursor:pointer;
    font-size:medium; 
    font-weight:bolder;
}
#btn-log.active{
    background-color:#101820ff;
    border-radius: 15px 15px 0 0;
    color:#f2aa4cff; 
}
#btn-sign.active{
    background-color:#101820ff;
    border-radius: 15px 15px 0 0;
    color:#f2aa4cff; 
}

#login-form {
    height:100%; 
    width:100%; 
    background-color:#101820ff;  
    display:none;
    color:white; 
    border-radius:0 0 15px 15px; 
}
#login-form.active{
    display:block; 
}
#signin-form{
    display:none; 
    height:100%; 
    width:100%; 
    background-color:#101820ff; 
    border-radius:0 0 15px 15px; 
    color:white; 
}
#signin-form.active{
    display:block; 
}

.profilepic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.loginbox input[type="email"] , input[type="password"] , input[type="text"] {
    border: none;
    color: aliceblue;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
}

form{
    padding: 30px;
}

.btn{
    text-align: center;
    margin-left: 23%;
    width: 200px;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}

h2{
    font-size: larger;
    margin-bottom: 5px;
}

.loginbox p{
    font-size: smaller;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 2px;
}


.blue{
    color: deepskyblue;
    font-size: 10px;
    margin-left: 10px;
}

img{
    width: 13px;
    height: 13px;
    margin-right: 5px;
    margin-top: 2px;
}

Form1 p{
    
    padding-left: 25%;
    padding-top: 5px;
}
Form1 p span{
    padding-left: 20%;
}

.btn1{
    padding: 5px;
    margin-top: 10px;
    width: 100px;
}

a{
    text-decoration: none;
}

.btn{
    background-color:transparent;
    border:none;
    color:white;
    display:flex; 
    align-items:center; 
    border-radius:10px;     
    cursor:pointer;
}

.btn:hover{
    background-color:grey;
}

#login-form button img{
    width:25px; 
    height:25px; 
}

#signin-form button img{
    width:25px; 
    height:25px; 
}