*{
    margin:0; 
    padding:0; 
    letter-spacing:2px; 

}


/* header */ 
.logo{
    display:flex; 
    align-items:center; 
}
.header img {
    width:30px; 
}
.icon{
    width:30px; 
}
.logo, #name{
    cursor:none; 
}
.logo  a{
    font-family:"Montserrat", sans-serif; 
    font-weight:800;  
    font-size:22px; 
    padding-left:8px; 
    color:#000; 
    text-decoration:none; 
}

#option {
    padding:10px; 
    cursor:pointer; 
}

.header{
    margin:10px; 
    display:flex;
    justify-content:space-between;
}

.head-2{
    display:flex; 
    flex:0.7; 
    align-items:center; 
    background-color:#f5f5f5; 
    padding:10px; 
    border-radius:5px; 
}
.head-2 input{
    border:none; 
    width:100%; 
    padding:5px; 
    outline:none; 
    font-size:18px; 
    background-color:transparent; 
}

.head-3{
    align-items:center; 
    display:flex; 
    justify-content: space-between;
    width:10%; 
}
.head-3 img{
    width:25px; 
    cursor:pointer; 
}
.head-3 div{
    width:40px; 
    height:40px; 
    display:flex; 
    align-items:center; 
    justify-content:center;
}
.head-3 div:hover{
    background-color:#f5f5f5;
    border-radius:50px; 
}
/*toot tip*/
.tooltip{
    position:absolute; 
    right:1%;
    top:75px; 
    background-color:grey; 
    color:white; 
    white-space:nowrap;
    padding:10px 15px; 
    border-radius:5px; 
    display:none; 
}

#story:hover  .tooltip{
    display:block; 
}
#noti:hover .tooltip{
    display:block;
}



/*side bar */ 
.container-main{
    display:flex; 
    height:85vh;
}

.side-bar{
    flex:0.5; 
    max-width:300px; 
    padding-right:20px; 
    display:flex; 
    flex-direction:column; 
    padding-top:1%; 
    transition:linear ease; 
}
.side-bar button{
    display:flex; 
    background:transparent;
    border:none; 
    align-items:center; 
    justify-content:flex-start; 
    padding:3%; 
    margin-bottom:3%; 
    padding-left:5%; 
    cursor:pointer; 
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.side-bar button img{
    width:30px; 
    margin-right:2%; 
}

.side-bar button:hover{
    background-color:#f5f5f5; 
}

.content{
    margin-top:1%; 
    background-color:#f5f5f5; 
    width:70%; 
    margin-left:5%;  
    align-items:center; 
    display:flex; 
    justify-content: center;
    border-radius:10px; 
}