@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@500&family=Poppins&family=Roboto:wght@500&family=Pacifico&display=swap');
*{
    margin:0; 
    padding:0; 
    font-family:"Montserrat";
    letter-spacing:2px; 
}
body{
    background-color:aliceblue;
}
.icon{
    height:35px; 
    width:35px; 
}
header{
    display:flex; 
    align-items:center;
    padding: 14px 3%; 
}
header a{
    text-decoration:none; 
    font-size:22px; 
    color:black; 
    font-weight:800; 
    padding-left:8px; 
}

.container{
    height:70vh; 
    width:40%;
    background-color:#a1d0ec;
    position:relative; 
    margin:5% auto; 
    border-radius:15px; 
}
.head{
    display:flex;
    justify-content:space-evenly;
    background-color:aliceblue; 
}
.head button{
    padding:5px 10px; 
    border:none; 
    background-color:aliceblue; 
    width:100%;
    height:100%; 
    cursor:pointer;
}
#btn-log.active{
    background-color:#a1d0ec; 
    border-radius: 15px 15px 0 0;
    color:violet; 
}
#btn-sign.active{
    background-color:#a1d0ec; 
    border-radius: 15px 15px 0 0;
    color:violet; 
}